<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>617505022738-lqkmeduvmflfmmvdgo420kun91027mln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617505022738-lqkmeduvmflfmmvdgo420kun91027mln</string>
	<key>API_KEY</key>
	<string>AIzaSyCmMW9PejJJ9Hge9NT8YU0ft7W_hLAWaeE</string>
	<key>GCM_SENDER_ID</key>
	<string>617505022738</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.betonapp</string>
	<key>PROJECT_ID</key>
	<string>betonclient</string>
	<key>STORAGE_BUCKET</key>
	<string>betonclient.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617505022738:ios:1602390ebf9468d4c209cb</string>
</dict>
</plist>